<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HR</key>
	<dict>
		<key>00</key>
		<array>
			<string>67</string>
			<string>68</string>
			<string>69</string>
			<string>70</string>
		</array>
		<key>01</key>
		<array>
			<string>9</string>
			<string>10</string>
			<string>11</string>
		</array>
		<key>02</key>
		<array>
			<string>12</string>
			<string>13</string>
			<string>14</string>
		</array>
		<key>03</key>
		<array>
			<string>16</string>
			<string>17</string>
			<string>18</string>
			<string>19</string>
		</array>
		<key>04</key>
		<array>
			<string>23</string>
			<string>24</string>
			<string>25</string>
			<string>26</string>
			<string>27</string>
			<string>28</string>
		</array>
		<key>05</key>
		<array>
			<string>29</string>
			<string>30</string>
			<string>31</string>
			<string>32</string>
			<string>33</string>
		</array>
		<key>06</key>
		<array>
			<string>34</string>
			<string>35</string>
			<string>36</string>
			<string>37</string>
		</array>
		<key>07</key>
		<array>
			<string>39</string>
			<string>40</string>
			<string>41</string>
			<string>42</string>
			<string>43</string>
		</array>
		<key>08</key>
		<array>
			<string>45</string>
			<string>46</string>
			<string>47</string>
			<string>48</string>
		</array>
		<key>09</key>
		<array>
			<string>49</string>
			<string>50</string>
			<string>51</string>
			<string>52</string>
			<string>53</string>
		</array>
		<key>10</key>
		<array>
			<string>58</string>
			<string>59</string>
			<string>60</string>
			<string>61</string>
		</array>
		<key>11</key>
		<array>
			<string>63</string>
			<string>64</string>
			<string>65</string>
			<string>66</string>
		</array>
	</dict>
	<key>IT1</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>6</string>
		<string>7</string>
	</array>
	<key>IT</key>
	<array>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
	</array>
	<key>PAST</key>
	<array>
		<string>72</string>
	</array>
	<key>TO</key>
	<array>
		<string>73</string>
		<string>74</string>
		<string>75</string>
		<string>76</string>
		<string>77</string>
	</array>
	<key>ES</key>
	<array>
		<string>E</string>
		<string>S</string>
		<string>O</string>
		<string>N</string>
		<string>E</string>
		<string>L</string>
		<string>A</string>
		<string>S</string>
		<string>U</string>
		<string>N</string>
		<string>A</string>
		<string>D</string>
		<string>O</string>
		<string>S</string>
		<string>I</string>
		<string>T</string>
		<string>R</string>
		<string>E</string>
		<string>S</string>
		<string>O</string>
		<string>R</string>
		<string>E</string>
		<string>C</string>
		<string>U</string>
		<string>A</string>
		<string>T</string>
		<string>R</string>
		<string>O</string>
		<string>C</string>
		<string>I</string>
		<string>N</string>
		<string>C</string>
		<string>O</string>
		<string>S</string>
		<string>E</string>
		<string>I</string>
		<string>S</string>
		<string>A</string>
		<string>S</string>
		<string>I</string>
		<string>E</string>
		<string>T</string>
		<string>E</string>
		<string>N</string>
		<string>O</string>
		<string>C</string>
		<string>H</string>
		<string>O</string>
		<string>N</string>
		<string>U</string>
		<string>E</string>
		<string>V</string>
		<string>E</string>
		<string>Y</string>
		<string>O</string>
		<string>L</string>
		<string>A</string>
		<string>D</string>
		<string>I</string>
		<string>E</string>
		<string>Z</string>
		<string>S</string>
		<string>O</string>
		<string>N</string>
		<string>C</string>
		<string>E</string>
		<string>D</string>
		<string>O</string>
		<string>C</string>
		<string>E</string>
		<string>L</string>
		<string>Y</string>
		<string>M</string>
		<string>E</string>
		<string>N</string>
		<string>O</string>
		<string>S</string>
		<string>O</string>
		<string>V</string>
		<string>E</string>
		<string>I</string>
		<string>N</string>
		<string>T</string>
		<string>E</string>
		<string>D</string>
		<string>I</string>
		<string>E</string>
		<string>Z</string>
		<string>V</string>
		<string>E</string>
		<string>I</string>
		<string>N</string>
		<string>T</string>
		<string>I</string>
		<string>C</string>
		<string>I</string>
		<string>N</string>
		<string>C</string>
		<string>O</string>
		<string>M</string>
		<string>E</string>
		<string>D</string>
		<string>I</string>
		<string>A</string>
		<string>C</string>
		<string>U</string>
		<string>A</string>
		<string>R</string>
		<string>T</string>
		<string>O</string>
	</array>
	<key>ES1</key>
	<array>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>23</string>
		<string>29</string>
		<string>33</string>
		<string>34</string>
		<string>40</string>
		<string>45</string>
		<string>46</string>
		<string>47</string>
		<string>48</string>
		<string>52</string>
		<string>53</string>
		<string>54</string>
		<string>56</string>
		<string>66</string>
		<string>67</string>
		<string>77</string>
		<string>78</string>
		<string>84</string>
		<string>88</string>
		<string>89</string>
		<string>90</string>
		<string>91</string>
		<string>92</string>
		<string>93</string>
		<string>96</string>
		<string>97</string>
		<string>98</string>
	</array>
	<key>MIN</key>
	<dict>
		<key>00</key>
		<array/>
		<key>05</key>
		<array>
			<string>95</string>
			<string>96</string>
			<string>97</string>
			<string>98</string>
			<string>99</string>
		</array>
		<key>55</key>
		<array>
			<string>95</string>
			<string>96</string>
			<string>97</string>
			<string>98</string>
			<string>99</string>
		</array>
		<key>10</key>
		<array>
			<string>85</string>
			<string>86</string>
			<string>87</string>
			<string>88</string>
		</array>
		<key>50</key>
		<array>
			<string>85</string>
			<string>86</string>
			<string>87</string>
			<string>88</string>
		</array>
		<key>15</key>
		<array>
			<string>105</string>
			<string>106</string>
			<string>107</string>
			<string>108</string>
			<string>109</string>
			<string>110</string>
		</array>
		<key>45</key>
		<array>
			<string>105</string>
			<string>106</string>
			<string>107</string>
			<string>108</string>
			<string>109</string>
			<string>110</string>
		</array>
		<key>20</key>
		<array>
			<string>79</string>
			<string>80</string>
			<string>81</string>
			<string>82</string>
			<string>83</string>
			<string>84</string>
		</array>
		<key>40</key>
		<array>
			<string>79</string>
			<string>80</string>
			<string>81</string>
			<string>82</string>
			<string>83</string>
			<string>84</string>
		</array>
		<key>25</key>
		<array>
			<string>89</string>
			<string>90</string>
			<string>91</string>
			<string>92</string>
			<string>93</string>
			<string>94</string>
			<string>95</string>
			<string>96</string>
			<string>97</string>
			<string>98</string>
			<string>99</string>
		</array>
		<key>35</key>
		<array>
			<string>89</string>
			<string>90</string>
			<string>91</string>
			<string>92</string>
			<string>93</string>
			<string>94</string>
			<string>95</string>
			<string>96</string>
			<string>97</string>
			<string>98</string>
			<string>99</string>
		</array>
		<key>30</key>
		<array>
			<string>100</string>
			<string>101</string>
			<string>102</string>
			<string>103</string>
			<string>104</string>
		</array>
	</dict>
</dict>
</plist>
